{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "/base/style.css" %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">


    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--нужно выбрать эту ссылку (//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js)
    и нажать Alt + Enter, чтобы загрузить этот файл в вашу библиотеку.-->

</head>
<body>
    <h1>Start</h1>
    <p>Project my</p>
    <div class="container">  <!--Стена-->
        <div class="row base" > <!--ряд в cтене-->
            <div class="col-md-2" style="background-color: dodgerblue"> Колонка средняя 2 </div> <!--количество ячеек  ряду-->
            <div class="col-md-4" style="background-color: red"> Колонка средняя 4 </div>
            <div class="col-md-6 " style="background-color: green"> Колонка средняя 6 </div>
        </div>
    </div>
</body>
</html>